<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="./assets/css/admin.css" rel="stylesheet">
  </head>
  
    <div class="testbox">
    <form id="order_form" role="form">
     <fieldset>
        
      
      <div class="item">
        <p>Customer name</p>
        <input id="customer_name" type="text" name="name" placeholder="Customer Name" required/>
        <p>Product name 1</p>
        <input id="name1" type="text" name="name" placeholder="Name" required/>
        <p>Product quantity</p>
        <input id="quantity1" type="text" name="name" placeholder="Quantity" required/>
        
      </div>
      <hr>

      <div class="item">
        <p>Product name 2</p>
        <input id="name2" type="text" name="name" placeholder="Name" />
        <p>Product quantity</p>
        <input id="quantity2" type="text" name="name" placeholder="Quantity" >
        
      </div>
      <hr>

      <div class="item">
        <p>Product name 3</p>
        <input id="name3" type="text" name="name" placeholder="Name" />
        <p>Product quantity</p>
        <input id="quantity3" type="text" name="name" placeholder="Quantity" />
        
        
      </div>

      <div class="item">
        <p>Product name 4</p>
        <input id="name4" type="text" name="name" placeholder="Name" />
        <p>Product quantity</p>
        <input id="quantity4" type="text" name="name" placeholder="Quantity" />
        
        
      </div>
     
      
      <div class="item">
        
        <button type="submit" onclick="doAddOrder()"> ADD ORDER </button>
      </div>
    </fieldset>
    </form>
    </div>



    <hr>



    <div class="testbox">
        <form id="product_form" role="form">
         <fieldset>
            
          
          <div class="item">
            <p>Product name</p>
            <input id="pname" type="text" name="name" placeholder="Name" required/>
            <p>Product quantity</p>
            <input id="pquantity" type="text" name="name" placeholder="Quantity" required/>
            <p>Product supplier</p>
            <input id="psupplier" type="text" name="name" placeholder="Supplier" required/>
            
          </div>  
            
          
         
          
          <div class="item">
            
            <button type="submit" onclick="doAddProduct()"> ADD PRODUCT </button>
          </div>
        </fieldset>
        </form>
    </div>

    <hr>


    <div class="testbox">
        <form id="customer_form" role="form">
         <fieldset>
            
          
          <div class="item">
            <p>Customer name</p>
            <input id="cname" type="text" name="name" placeholder="Name" required/>
            <p>Customer address</p>
            <input id="caddress" type="text" name="name" placeholder="Address" required/>
            <p>Customer email</p>
            <input id="cemail" type="text" name="name" placeholder="Email" required/>
            <p>Customer phone</p>
            <input id="cphone" type="text" name="name" placeholder="Phone" required/>
            
          </div>  
            
          
         
          
          <div class="item">
            
            <button type="submit" onclick="doAddCustomer()"> ADD CUSTOMER </button>
          </div>
        </fieldset>
        </form>
    </div>

    <hr>

    <div class="testbox">
        <form id="supplier_form" role="form">
         <fieldset>
            
          
            <div class="item">
                <p>Supplier name</p>
                <input id="sname" type="text" name="name" placeholder="Name" required/>
                <p>Supplier address</p>
                <input id="saddress" type="text" name="name" placeholder="Address" required/>
                <p>Supplier email</p>
                <input id="semail" type="text" name="name" placeholder="Email" required/>
                <p>Supplier phone</p>
                <input id="sphone" type="text" name="name" placeholder="Phone" required/>
                
              </div>  
            
          
         
          
          <div class="item">
            
            <button type="submit" onclick="doAddSupplier()"> ADD SUPPLIER </button>
          </div>
        </fieldset>
        </form>
    </div>
 

    <script type="text/javascript">
          
   function doAddOrder(){
        var order_info =
            {
            'customer_name' : $('#customer_name').val(),
            'products' : [
                {
                    'name' : $('#name1').val(),
                    'quantity' : $('#quantity1').val()
                },
                {
                    'name' : $('#name2').val(),
                    'quantity' : $('#quantity2').val()
                },
                {
                    'name' : $('#name3').val(),
                    'quantity' : $('#quantity3').val()
                },
                {
                    'name' : $('#name4').val(),
                    'quantity' : $('#quantity4').val()
                },

            ]
            };
    
    }

    function doAddProduct(){
        var product_info = {
            'name' : $('#pname').val(),
            'quantity' : $('#pquantity').val(),
            'supplier' : $('#psupplier').val(),
            
        }
    }

    function doAddCustomer(){
        var customer_info = {
            'name' : $('#cname').val(),
            'address' : $('#caddress').val(),
            'email' : $('#cemail').val(),
            'phone' : $('#cphone').val()
            
        }
    }

    function doAddSupplier(){
        var supplier_info = {
            'name' : $('#sname').val(),
            'address' : $('#saddress').val(),
            'email' : $('#semail').val(),
            'phone' : $('#sphone').val()
            
        }
    }
  
</script>