<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Cheque & Remittance List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Cheque & Remittance List</h1>
    <table>
        <tr>
            <th>Type(Cheque/remittance)</th>
            <th>Date</th>
            <th>ID</th>
            <th>Amount</th>
            <th>Customer Name</th>
            <th>Credit Card Number</th>
        </tr>
        <tr>
            <td>Cheque</td>
            <td>2023-02-01</td>
            <td>1234</td>
            <td>100.00</td>
            <td>Customer Name 1</td>
            <td>1234-5678-9012-3456</td>
        </tr>
        <tr>
            <td>remittance</td>
            <td>2024-02-05</td>
            <td>4321</td>
            <td>150.00</td>
            <td>Customer Name 2</td>
            <td>4321-9120-9012-2115</td>
        </tr>
        <tr>
            <td>remittance</td>
            <td>2024-01-11</td>
            <td>1289</td>
            <td>80.00</td>
            <td>Customer Name 3</td>
            <td>5285-5678-9012-1002</td>
        </tr>
        <tr>
            <td>Cheque</td>
            <td>2023-12-31</td>
            <td>1003</td>
            <td>1000.00</td>
            <td>Customer Name 4</td>
            <td>1234-5678-9012-3456</td>
        </tr>
        <tr>
            <td>remittance</td>
            <td>2024-05-12</td>
            <td>1360</td>
            <td>230.00</td>
            <td>Customer Name 5</td>
            <td>4321-9120-9012-2115</td>
        </tr>
        <tr>
            <td>Cheque</td>
            <td>2023-10-23</td>
            <td>1025</td>
            <td>500.00</td>
            <td>Customer Name 6</td>
            <td>5285-5678-9012-1002</td>
        </tr>
        
    </table>

</body>
</html>
