{% extends 'index.html' %} {% block title %}Login Page{% endblock %}
{% block content %}
<div class="container">
    <div id="login-form-container" class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    {% for error in errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <form id="login-form" role="form" action="{{ url_for('login_post') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input id="email" class="form-control" placeholder="Username" name="username" type="text"
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <input id="password" class="form-control" placeholder="Password" name="password"
                                       type="password" value="">
                            </div>
                            <div class="form-group">
                                <input id="login-link" class="btn btn-lg btn-primary btn-block"
                                       type="submit" value="Login">

                            </div>


                        </fieldset>
                    </form>
                    <a href="register.html">
                        <!--                        <button id="login-link" class="btn btn-lg btn-success btn-block">Register</button>-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}